.b-header {
    padding: 15px 15px 10px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__working,
.header__mail,
.header__phone {
    display: none;
}

.header__button-open {
    .sizes(28px; 23px);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 38px;
    left: 20px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 28px;
        height: 2px;
        background-color: @green;
        box-shadow: 0 9px 0 0 @green, 0 18px 0 0 @green;
      }
}

.header__logo {
    .sizes(79px; 69px);
    margin-left: 67px;
}

@media (min-width: @tablet-width) {

    .b-header {
        padding: 15px 40px 11px 40px;
        display: grid;
        grid-template-columns: 65px 125px 1fr 275px;
        grid-template-rows: min-content 1fr;
        justify-content: left;
    }

    .header__button-open {
        grid-column: ~"1/2";
        grid-row: ~"1/3";
        position: relative;
        left: 0;
    }

    .header__logo {
        .sizes(106px; 93px);
        grid-column: ~"2/3";
        grid-row: ~"1/3";
        margin-left: 0;
    }

    .header__working {
        display: block;
        margin: 18px 36px 0 0;
        font-size: 14px;
        line-height: 20px;
        grid-column: ~"3/4";
        grid-row: ~"1/3";
        text-align: right;
    }

    .header__desktop-comma {
        display: none;
    }

    .header__phone {
        display: block;
        margin: 5px 0 0 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        grid-column: ~"4/5";
        grid-row: ~"2/3";
    }
}

@media (min-width: @desktop-width) {
    .b-header {
        padding: 15px 310px 15px 316px;
        grid-template-columns: 310px 1fr 210px 269px;
    }

    .header__button-open {
        display: none;
    }

    .header__logo {
        .sizes(132px; 116px);
        grid-column: ~"1/2";
        grid-row: ~"1/3";
    }

    .header__working {
        grid-column: ~"2/3";
        grid-row: ~"2/3";
        margin: 0;
        text-align: left;
        font-size: 16px;

        & br {
            display: none;
        }
    }

    .header__desktop-comma {
        display: inline;
    }

    .header__mail {
        display: block;
        margin: 0;  
        grid-column: ~"3/4";
        grid-row: ~"2/3";
    }

    .header__mail-link {
        text-decoration: none;
        color: @green;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        &:hover,
        &:focus
        &:active {
            color: @gold;
        }
    }

    .header__phone {
        grid-column: ~"4/5";
        grid-row: ~"2/3";
        margin: 0;
    }
}
