.b-informaiton {
    padding: 0 20px;
    padding-bottom: 35px;
}

.informaiton__text {
    margin: 0;

    &:nth-child(2) {
        margin-top: 25px;
    }
}

@media (min-width: @tablet-width) {
    .b-informaiton {
        padding: 0 40px 45px 40px;
    }
}

@media (min-width: @desktop-width) {
    .b-informaiton {
        padding: 0 315px 75px 315px;
    }

    .informaiton__text:nth-child(2) {
        margin-top: 30px;
    }
}